<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
	data-layout-decorate="~{fragments/layout}">
<head>
<title>Projets</title>
</head>
<body>
	<!-- page content -->
	<div class="right_col" role="main" data-layout-fragment="content">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title liste">
						<h2>Liste des projets</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a class="collapse-link"><i class="fa fa-chevron-up" title="Remonter"></i></a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="title_right">
						<form th:action="@{findSurveillance}" method="get">
							<div
								class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
								<div class="input-group">
									<input type="text" class="form-control" id="motCle"
										placeholder="Code soci&eacute;t&eacute;..." name="motCle"
										th:value="${motCle}" /> <span class="input-group-btn">
										<button type="submit" class="btn btn-default">Go!</button>
									</span>
								</div>
							</div>
						</form>
					</div>
					<div class="x_content">
						<table class="table table-striped">
							<tr>
								<th>Num</th>
								<th>Libell&eacute;</th>
								<th>Dur&eacute;e</th>
								<th>Produit</th>
								<th>Site</th>
								<th>Ref. CCE</th>
								<th>Date signature CCE</th>
								<th>Ref. ACE</th>
								<th>Date signature ACE</th>
								<th>Phase d'intervention</th>
							</tr>
							<tr th:each="p:${listProjets}">
								<td th:text="${p.idProjet}"></td>
								<td th:text="${p.libProjet}"></td>
								<td th:text="${p.duree}"></td>
								<td th:text="${p.produitExp}"></td>
								<td th:text="${p.site.nomSite}"></td>
								<td th:text="${p.refCCE}"></td>
								<td th:text="${p.dateCCE}"></td>
								<td th:text="${p.refACE}"></td>
								<td th:text="${p.dateACE}"></td>
								<td><a
									data-th-href="@{surveillance(idProjet=${p.idProjet})}"
									class="btn btn-primary fa fa-caret-square-o-right"
									role="button" title="D&eacute;tails phases"></a></td>
							</tr>
						</table>
						<div class="container">
							<ul class="nav nav-pills">
								<li th:each="pa:${pages}"
									th:class="${pa==currentPage}?active:''"><a
									data-th-href="@{findSurveillance(page=${pa},motCle=${motCle})}"
									th:text="${pa}"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /page content -->
</body>
</html>
