<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
	data-layout-decorate="~{fragments/layout}">
<head>
<title>Taches</title>
</head>
<body>
	<!-- page content -->
	<div class="right_col" role="main" data-layout-fragment="content">
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-success" th:if="${activiteNecessaire}">
					<div class="panel-heading">
						<h3 class="panel-title">Informations sur l'activit&eacute;
							necessaire</h3>
					</div>
					<div class="panel-body info">
						<div>
							<label class="intitule">Soci&eacute;t&eacute;:</label> <label
								th:text="${activiteNecessaire.mesure.impact.phase.projet.entreprise.nomEntr}"></label>
						</div>
						<div>
							<label class="intitule">Projet:</label> <label
								th:text="${activiteNecessaire.mesure.impact.phase.projet.libProjet}"></label>
						</div>
						<div>
							<label class="intitule">Phase:</label> <label
								th:text="${activiteNecessaire.mesure.impact.phase.libellePhase}"></label>
						</div>
						<div>
							<label class="intitule">Impact:</label> <label
								th:text="${activiteNecessaire.mesure.impact.libImpact}"></label>
						</div>
						<div>
							<label class="intitule">Mesure:</label> <label
								th:text="${activiteNecessaire.mesure.libMesure}"></label>
						</div>
						<div>
							<label class="intitule">Libell&eacute; activit&eacute;
								necessaire:</label> <label th:text="${activiteNecessaire.libActNec}"></label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title liste">
						<h2>Liste des activit&eacute;s planifi&eacute;es</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a class="collapse-link" title="Remonter"><i
									class="fa fa-chevron-up"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div>
							<a
								data-th-href="@{/formTache(idActNec=${activiteNecessaire.idActNec})}"
								class="btn btn-success fa fa-plus" title="Ajouter"></a> <a
								data-th-href="@{/findActNec(idMesure=${activiteNecessaire.mesure.idMesure})}"
								class="btn btn-default fa fa-chevron-left" title="Retour"></a>
						</div>
						<table class="table table-striped">
							<tr>
								<th>Num</th>
								<th>Libell&eacute;</th>
								<th>Date D&eacute;but</th>
								<th>Date Fin</th>
								<th>Poids</th>
								<th>Taux r&eacute;alisation</th>
								<th>Appr&eacute;ciation</th>
								<th colspan="3">Actions</th>
							</tr>
							<tr th:each="t:${listTaches}">
								<td th:text="${t.idTache}"></td>
								<td th:text="${t.libTache}"></td>
								<td th:text="${t.dateDebut}"></td>
								<td th:text="${t.dateFin}"></td>
								<td th:text="${t.priorite}"></td>
								<td th:text="${t.tauxRea}"></td>
								<td><a data-th-href="@{rechercherTache(id=${t.idTache})}"
									class="btn btn-warning fa fa-edit" role="button"></a></td>
								<td><a data-th-href="@{#}"
									class="btn btn-danger fa fa-remove" role="button"></a></td>
							</tr>
						</table>
						<div class="container">
							<ul class="nav nav-pills">
								<li th:each="pa:${pages}"
									th:class="${pa==currentPage}?active:''"><a
									data-th-href="@{tache(page=${pa},motCle=${motCle})}"
									th:text="${pa}"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /page content -->
</body>
</html>
