<div id="sidebar-menu" class="main_menu_side hidden-print main_menu"
	data-th-fragment="sidebar-menu">
	<div class="menu_section">
		<h3>Menu Principal</h3>
		<ul class="nav side-menu">
			<li><a><i class="fa fa-home"></i> Accueil <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a data-th-href="@{/agent}">Agents</a></li>
					<li><a data-th-href="@{findPersonne}">Soci&eacute;t&eacute;s</a></li>
					<li><a data-th-href="@{/site}">Sites</a></li>
				</ul></li>
			<li><a><i class="fa fa-tasks"></i>Etude<span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a data-th-href="@{findSociete}">Projets</a></li>
					<li><a data-th-href="@{findProjet}">Phases d'intervention</a></li>
					<li><a data-th-href="@{findImpact}">Impacts</a></li>
				</ul></li>
			<li><a><i class="fa fa-table"></i>Plannification<span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a data-th-href="@{findPlanification}">Planification des activit&eacute;s</a></li>
					<li><a data-th-href="@{findMeo}">Mise en oeuvre des mesures</a></li>
				</ul></li>
			<li><a><i class="fa fa-edit"></i>Evaluation<span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a data-th-href="@{findSurveillance}">Suivi de
							l'effectivit&eacute; des mesures</a></li>
					<li><a data-th-href="@{findSuivi}">Suivi de l'efficacit&eacute; des mesures</a></li>
					<li><a href="#">Formulation des avis</a></li>
				</ul></li>
			<li><a><i class="fa fa-book"></i>Rapports<span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="#">Rapport de suivi d'effectivit&eacute; des
							mesures</a></li>
					<li><a href="#">Rapport de suivi d'efficacit&eacute; des
							mesures</a></li>
				</ul></li>
			<li><a><i class="fa fa-bar-chart-o"></i> Statistiques <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="#">PGES</a></li>
				</ul></li>
		</ul>
	</div>
</div>